{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Story 1 PPW</title>
        <style>
        body {background-image : url("{% static 'img/background.jpg'%}")}
        h1 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
            font-size: 20px; 
            font-weight: bold; 
            color: white}
        ul {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
            font-size: 14px; 
            color: white}
        p {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
            font-size: 14px; 
            color: white}
        </style>
    </head>
    <body>
        <center>
        <img src = "{% static 'img/712640.jpg'%}" width="150" height="150">
        <h1>Nama   <img src="{% static 'img/name.png'%}" width="40" height="40"></h1>
        <p>Ahmad Irfan Luthfi</p>
        <hr>
        <h1>NPM<img src="{% static 'img/npm.png'%}" width="40" height="40"></h1>
        <p>1806235864</p>
        <hr>
        <h1>Riwayat Pendidikan  <img src = "{% static 'img/pendidikan.png'%}" width = "40" height = "40"></h1>
        <ul>
            <li>SMPI Al-Azhar 6</li>
            <li>SMA Al-Azhar 4</li>
            <li>Universitas Indonesia</li>
        </ul>
        <hr>
        <h1>Hobi  <img src = "{% static 'img/hobi.png'%}" width = "40" height = "40"></h1>
        <p>Tamatin <i><b>YouTube</b></i></p>
        <hr>
        <h1>Deskripsi Tentang Saya   <img src = "{% static 'img/desc.png'%}" width = "40" height = "40"></h1>
        <p>Seseorang yang kerjaannya hanya kuliah, <i>nonton YouTube</i>, tidur.</p>
        </center>
    </body>
</html>